world-timezone-api/src/main/mule/world-timezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a73a7cfd-855b-4fee-be7f-a679dd263a83" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="570ac721-89cb-425e-b453-c79cbce4112c" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-timezone-api-Flow" doc:id="fa1bf40b-2066-4fc4-81bc-8f531ab8b78d" >
		<http:listener doc:name="Listener" doc:id="561cdf4a-e7ce-4d50-a733-1da3459a3ba8" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="WorldTimeZoneRequest" doc:id="92603c8e-cdb1-4b97-86dc-6871e63493cd" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Final Message" doc:id="889c4337-cace-4c16-b026-72b5bf234c05" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
